/*! Pushy - v1.3.0 - 2019-6-25
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */
/* Menu Appearance */
.pushy {
  position: fixed;
width: 240px;
  height: 100%;
  top: 0;
  z-index: 9999;
  background: #282b2e;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  /* enables momentum scrolling in iOS overflow elements */
}
.pushy a:hover {
    color: #fff;
}
.control-new {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 0px;
    padding-top: 12px;
    height: 48px;
    color: #818890;
    cursor: pointer;
    font-size: 15px;
}
    .control-new input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator-new {
    position: absolute;
    top: 13px;
    left: 0;
   height: 20px;
    width: 20px;
    background: #1b1d1f;
    border: 1px solid #43484c;
    border-radius: 3px;
}
.control-new:hover input ~ .control_indicator-new,
.control-new input:focus ~ .control_indicator-new {
    background: #1b1d1f;
}

.control-new input:checked ~ .control_indicator-new {
    background: #e63d30;border-color: #e63d30;
}
.control-new:hover input:not([disabled]):checked ~ .control_indicator-new,
.control-new input:checked:focus ~ .control_indicator-new {
    background: #e63d30;border-color: #e63d30;
}
.control-new input:disabled ~ .control_indicator-new {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator-new:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control-new input:checked ~ .control_indicator-new:after {
    display: block;
}
.control-checkbox-new .control_indicator-new:after {
    left: 7px;
    top: 3px;
    content: "";
    position: absolute;
    width: 2.8px;
    height: 6px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.control-checkbox-new input:disabled ~ .control_indicator-new:after {
    border-color: #7b7b7b;
}
.pushy a {
    display: block;
      color: #818890;
    padding: 12px 15px;    font-weight: 800;    font-family: 'Proxima Nova bol';
    height: 48px;
    text-decoration: none;
}
.pushy a:hover {
    color: #ffffff;
}
li.pushy-submenu.pushy-submenu-open li a {
    font-weight: 200 !important;
    font-size: 15px;
    font-family: 'Proxima Nova Rg';
}
.pushy ul:first-child {
    margin-top: 0px;
}
.pushy.pushy-left {
    left: 0px;
    top: 0px;
    padding-top: 48px;
}
.pushy.pushy-right {
  right: 0;
}

.pushy-content {
  visibility: hidden;
}
.select-area {
    padding: 0px 16px;
}
.left-area {
    width: 50%;
    float: left;
}
.b-spc {
    padding-bottom: 40px;
}
.right-area {
    float: right;
    width: 50%;
}
.left-area .select-area {
    padding: 0px 2px 0px 16px;
}
.right-area .select-area {
    padding: 0px 16px 0px 2px;
}
/* Menu Movement */
.pushy-left {
  -webkit-transform: translate3d(-265px, 0, 0);
  -ms-transform: translate3d(-265px, 0, 0);
  transform: translate3d(-265px, 0, 0);
}

.pushy-open-left #container,
.pushy-open-left .push {
  -webkit-transform: translate3d(0px, 0, 0);
  -ms-transform: translate3d(265px, 0, 0); 
  transform: translate3d(0px, 0, 0);margin-left: 240px;
}

.pushy-right {
  -webkit-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
}

.pushy-open-right #container,
.pushy-open-right .push {
  -webkit-transform: translate3d(-200px, 0, 0);
  -ms-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0);
}

.pushy-open-left .pushy,
.pushy-open-right .pushy {    left: 0px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.pushy-open-left .pushy-content,
.pushy-open-right .pushy-content {
  visibility: visible;
}

/* Menu Transitions */
#container,
.pushy,
.push {
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.pushy-content {
  transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

/* Site Overlay */
.site-overlay {
  display: none;
}

.pushy-open-left .site-overlay,
.pushy-open-right .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: fade 500ms;
  animation: fade 500ms;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Submenu Appearance */
.pushy-submenu {
  /* Submenu Buttons */
  /* Submenu Icon */
}
.pushy-submenu > ul {
  padding-left: 15px;
  transition: max-height 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
.pushy-submenu > ul .pushy-link {
  transition: opacity 0.2s ease-in-out;
}
.pushy-submenu button {
    width: 100%;
        color: #818890;
    padding: 10px 16px;    font-family: 'Proxima Nova bol';
    height: 48px;font-weight: 800;
    text-align: left;
    background: transparent;
    border: 0;
}
.control-new:hover {
    color: #fff;
}
.pushy-submenu button:hover {
    color: #ffffff;
}
.pushy-submenu > a,
.pushy-submenu > button {
  position: relative;font-weight: 800;    font-family: 'Proxima Nova bol';
}
.pushy-submenu > a::after, .pushy-submenu > button::after {
    content: '\f278';
    display: block;
    height: 11px;
    width: 8px;
    position: absolute;
    top: 25%;
    right: 17px;
    font-weight: 800;
    font-family: Material-Design-Iconic-Font;
    color: #e63d30;
}
.pushy-submenu-open {
    background: #1b1d1f;
}
/* Submenu Movement */
.pushy-submenu-closed > ul {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pushy-submenu-closed .pushy-link {
  opacity: 0;
}
.pushy-content ul {
    padding: 0px;
}
.pushy-submenu-open {
  /* Submenu Icon */
}
.pushy-submenu-open > ul {
  max-height: 1000px;
  visibility: visible;
}
.pushy-submenu-open .pushy-link {
  opacity: 1;
}
.pushy-submenu-open > a::after,
.pushy-submenu-open > button::after {
    content: "\f273";font-family:Material-Design-Iconic-Font;
}

/*# sourceMappingURL=pushy.css.map */
  @media (min-width: 320px) and (max-width: 767px)
  {
.pushy.pushy-left {
    top: 0px;
    padding-top: 48px;
    width: 100%;
}
	  .pushy-open-left #container, .pushy-open-left .push {
    margin-left: 0px;
}
.pushy-left {
    -webkit-transform: translate3d(-800px, 0, 0);
    -ms-transform: translate3d(-800px, 0, 0);
    transform: translate3d(-800px, 0, 0);
}
	.pushy {
    position: fixed;
    width: 100%;
}
  }